@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.bggradient {
  background: radial-gradient(
    50% 50% at 50% 50%,
    #7bdde2 0,
    rgba(127, 208, 231, 0) 100%
  );
  width: 1067px;
  height: 240px;
  position: absolute;
  inset: 0;
  z-index: 0;
  opacity: 0.5;
  filter: blur(159.73px);
  top: 40%;
  left: -20%;
}
